@import './test.css';

* {
    box-sizing: border-box;
}

html {
    background-color: #fff;
}

body {
    margin: 0;
}

.UI {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.scene {
    border: 1px solid;
}